.vscode
build/Licence,fff
build/ReadMe,fff
build/!Float/!Help,ffb
build/!Float/!RunImage,ffb
build/!Float/Resources/UK/Float,3d6
build/!Float/Resources/UK/HelpText,fff
build/!Float/Resources/UK/Menus,ffd
build/package
